@model Assign3C1.Models.Teachers
@{
    ViewBag.Title = "Show";
}

<h2>Teacher Information</h2>

<div class="list-container">
    <ul class="list">
        <li> <strong> Employee Number : </strong> @Model.employeenumber</li>
        <li> <strong> Name : </strong> @Model.teacherfname @Model.teacherlname</li>
        <li> <strong> Salary : </strong> @Model.salary</li>
        <li> <strong> Hired On : </strong> @Model.hiredate</li>
    </ul>
</div>







